%nav{aria: {label: 'breadcrumb'}}
  %ol.breadcrumb
    %li.breadcrumb-item= link_to @conference.name, conference_path(@conference)

%h1 Editing Plan (#{@conference.name})

= render 'form', plan: @plan
