// breakpoints
$media-breakpoints: (xs: 0, se: 320px, sm: 576px, md: 768px, lg: 1024px, xl: 1400px)

// fonts
$font-display: "Funnel Display", sans-serif
$font-body: "IBM Plex Sans JP", "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif

// colors
$black: #000
$white: #FFF
$whitegrey: #A9A9A9

//////////////////////
// Theming Colors
//////////////////////
$color_navy: oklch(26% 0.0100 39.33)
$color_pink: #ff2e9b
$color_green: #ceff05
$color_red: #eb0064
$color_yellow: #ff6
$color_midgray: #ccc
$color_lightgray: #eee

$color-base: $black
$color-main: $white
$color-main-light: #6c6c81
$color-accent: $color_pink
$color-reversal: $color_lightgray


//////////////////////
// UI Colors
//////////////////////

$primary: $color_pink
$secondary: #e7ebef !default
$success: $color_green !default
$info: $color_green !default
$warning: $color_yellow !default
$danger: $color_red !default
$gray: #9e9e9e !default
$dark: #343a40 !default
$disabled: #e2e2e2

$color-bg-card: rgba($black, .4)
$color-line: rgba($white, .4)
$color-text-muted: rgba($white, .7)
$color-stripe-gray: #525252

// background-color
$base-bg: $color-base

// text-colors
$default-text: $color-main
$reversal-text: $color-reversal
$muted-text: $color-main-light

$link: $color_green
$link-hover: darken($color_green, 10%)

$border: $color-main-light

// bland-colors
$base-color: $color-base
$accent-color: $color-accent
$accent-color-border: $color-accent

// navbar
$nav-link: $color-main
$nav-link-hover: $color_green
$nav-bg: $white
$nav-shadow: 0px 2px 2px rgba(0, 0, 0, 0.07)
$nav-toggler-border: transparent

// button
$btn-padding-y: 0.6rem
$btn-padding-x: 1.5rem
$btn-sm-padding-y: 0.4rem
$btn-sm-padding-x: 1rem
$btn-primary-bg: $color_green
$btn-primary-border: transparent
$btn-primary-bg-hover: darken($color_green, 12%)
$btn-primary-border-hover: transparent

// form
$form-control-padding-y: $btn-padding-y
$form-control-padding-x: $btn-padding-x / 2
$form-control-bg: $black
$form-control-color: $white
$form-control-border: rgba($white, .3)
$form-control-placeholder: rgba($white, .25)
$form-control-focus-bg: $white
$form-control-focus-color: #495057

// schedule
$break: #e0e0cf
